<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab11_2_StackOvr</title>
    <!--
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> 
     -->
    <link href="~/css/Styles.css" rel="stylesheet" />
</head>
<body>
    <header>
     

        <script language="javascript">
<!--

            function LoginSubmit() {

                document.getElementById("loginBar").submit();
            }


 //-->
        </script>


        <div class="header">

            <table>
                <tr>
                    <td class="header"><b>@ViewData["Title"]</b></td>

                    @if (!DAL.isLogin())
                    {
                        <td class="header"><a onclick="LoginSubmit()">Login</a></td>
                        <td>

                            <form method="post" action="/UserControls/uLogin" autocomplete="on" id="loginBar">
                                <input type="text" name="Username" />
                            </form>


                        </td>

                        <td>

                            <form method="post" action="" autocomplete="off" id="PassWBar">
                                <input type="text" name="Password" />
                            </form>


                        </td>
                    }
                    else
                    {
                        <td class="header"><a asp-action="UserPage" asp-route-UID="@DAL.sessionUser.Username" name="Userpage">@DAL.sessionUser.Username</a></td>
                        <td class="header"><a asp-action="Logout" name="Logout?"><i>Logout</i></a></td>
                        <td class="header"><a asp-action="AskAQ">Ask a question</a></td>
                    }

                </tr>
            </table>

        </div>

        <div class="logo"><a class="logo" href="QuestionIndex"> {n u l l} Pointers* </a></div>


    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">

        </div>
    </footer>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
