@model QAns

@{
    ViewData["Title"] = "AnswersDetail";
    if (DAL.sessionUser != null) ViewData["user"] = DAL.sessionUser.Username;
    else ViewData["user"] = "Login";
}

<link href="~/css/Styles.css" rel="stylesheet" />


<div class="header">

    <table>
        <tr>
            <td class="header"><h1>@ViewData["Title"]</h1></td>

            @if (DAL.sessionUser == null)
            {
                <td class="header"><a asp-action="Login">@ViewData["user"]</a></td>
            }
            else
            {
                <td class="header"><a asp-action="UserPage" asp-route-UID="@DAL.sessionUser.Username" name="">@ViewData["user"]</a></td>
                <td class="header"><a asp-action="Logout" name="Logout?"><i>Logout</i></a></td>
                <td class="header"><a asp-action="AskAQ">Ask a question</a></td>
            }

        </tr>
    </table>
</div>

<table>
    <tr>

        <td><h2>@Model.Q.Title</h2></td>

        <td><h4>Category: <i>@Model.Q.Category</i></h4></td>
        <td>
            <h4>
            tags:  @foreach (string tag in Model.Q._Tags)
            {<i>#@tag </i>}
            </h4>
        </td>
        <td><h4>(@Model.Q.sStatus())</h4></td>
        <td><h4>Posted @Model.Q.Posted</h4></td>

    </tr>

    <tr>
        <td style="text-align:justify;">@Model.Q.Detail</td>
    </tr>
</table>


<br />
<br />


@foreach (Answer ans in Model.Answers)
{

    <div class="question">

        <table>

            <tr>

                <td><h2>@ans.ID</h2></td>
                <td><h4> - from @ans.Username on @ans.Posted</h4></td>
                <td>
                    <b>
                        @if (ans.Upvotes < 0)
                        {
                            <font color="red">@ans.Upvotes</font>
                        }
                        else
                        {
                            <font color="green">@ans.Upvotes</font>
                        }
                    </b>
                </td>

            </tr>

            <tr>



            </tr>


        </table>

    </div>

}

