@model QAns
@{
    ViewData["Title"] = "AnswersDetail";

    bool isUserQ = DAL.isLogin() && Model.Q.Username == DAL.sessionUser.Username;
    


}

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div style=" padding: 5px 5px 20px 5px; background: none; border-radius:30px; border-color:#070707; border:double; ">

    <table>

        <tr>

            <td class="detail" colspan="6"><h1>@Model.Q.Title</h1></td>

            <td class="detail" colspan="6"><h2>Category: <i>@Model.Q.Category</i></h2></td>



            <td class="detail"><h2>(@Model.Q.sStatus())</h2></td>
            <td class="detail">Posted @Model.Q.Posted</td>

        </tr>

        <tr>
            <td style="padding: 30px; text-align:justify; border-radius: 50px;  " colspan="20">"@Model.Q.Detail"</td>
        </tr>
        <tr>
            <td style="padding: 0px 20px 0px 20px"><b>@Model.Answers.Count</b> answers</td>
            <td><h2>tags:</h2></td>

            @foreach (string tag in Model.Q._Tags)
            {
                <td class="tags">#@tag </td>
            }
        </tr>

    </table>


</div>



<br />
<br />


@foreach (Answer ans in Model.Answers)
{

    string ansClass = "";

    if (ans.Upvotes < 0) ansClass = "downvote";
    else if (ans.Upvotes >= 3) ansClass = "upvote";
    else ansClass = "answer";


    <div class="@ansClass">

        <table>

            <tr style="color:inherit;" >

                <td ><h2>Answer ID @ans.ID</h2></td>
                <td rowspan="2" style="padding-left: 20px; padding-right: 30px; border-right: double; border-radius:10px;"> from <b><i>@ans.Username</i></b><br />on @ans.Posted</td>
                <td style="padding-left: 20px;" colspan="15" rowspan="2" >@ans.Detail</td>

            </tr>
            <tr>

                <td style="padding-left:20px; font-size: xx-large;">

                    @if (DAL.isLogin()) { <sub><a asp-action="Downvote" asp-route-AID="@ans.ID" asp-route-QID="@Model.Q.ID">-</a></sub> }
                    
                    <b>
                        @if (ans.Upvotes < 0)
                        {
                            <font color="red">@ans.Upvotes</font>
                        }
                        else
                        {
                            <font color="green">@ans.Upvotes</font>
                        }
                    </b>

                    @if (DAL.isLogin()) { <sup><a asp-action="Upvote" asp-route-AID="@ans.ID" asp-route-QID="@Model.Q.ID">+</a></sup> }
                    

                </td>

            </tr>

            <tr>
            </tr>


        </table>

    </div>



}





