@model Usr
@{
    ViewData["Title"] = "Ask a question";
    if (DAL.sessionUser != null) ViewData["user"] = DAL.sessionUser.Username;
    else ViewData["user"] = "Login";
}

<link href="~/css/Styles.css" rel="stylesheet" />


<div class="header">

    <table>
        <tr>
            <td class="header"><h1>@ViewData["Title"]</h1></td>

            @if (DAL.sessionUser == null)
            {
                <td class="header"><a asp-action="Login">@ViewData["user"]</a></td>
            }
            else
            {
                <td class="header"><a asp-action="UserPage" asp-route-UID="@DAL.sessionUser.Username" name="">@ViewData["user"]</a></td>
                <td class="header"><a asp-action="Logout" name="Logout?"><i>Logout</i></a></td>
                <td class="header"><a asp-action="AskAQ">Ask a question</a></td>
            }

        </tr>
    </table>
</div>

<div class="logo"><a class="logo" href="QuestionIndex"> {n u l l} Pointers* </a></div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->



<form method="post" action="/UserControls/PostQ">
    <input value="@Model.Username" name="Username" /><br />
    Title: <input type="text" name="Title" /><br />
    <label>
        Question <br />

        <textarea id="Detail" name="Detail" rows="5" cols="20"></textarea>

    </label><br />
    <!-- Question <br /><input type="text" name="Detail" /><br /> -->
    <input type="datetime" value="@DateTime.Now" name="Posted" /><br />
    Category: <input type="text" name="Category" /><br />
    Tags: (separate by spaces) <input type="text" name="Tags" /><br />
    <input type="submit" value="Post" />
</form>

