@model List<Question>;
@{
    ViewData["Title"] = "QuestionIndex";
}

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


@{
    int zIndex = Model.Count;
    string qClass = "";
    
}
 


@foreach (Question q in Model)
{

    if (DAL.isLogin() && q.Username == DAL.sessionUser.Username) qClass = "ownQuestion";
    else if (q.Status > 0) qClass = "closed";
    else qClass = "question";




    <a class="plain" asp-action="QuestionDetail" asp-route-QID="@q.ID">

        <div class="@qClass" style="z-index:@zIndex;">
   
            <table style="padding-left:15px; border: none; color:#314631">
                <tr>

                    <td colspan="4" style="font-size:xx-large;">

                        <b>@q.Title</b>
                        <sub>

                            @if (qClass == "ownQuestion")
                            {
                                <span colspan="3" style="font-size:small;">
                                    from <b>Me</b>
                                </span>
                            }
                            else
                            {
                                <span colspan="3" style="font-size:x-small;">
                                    from <i>@q.Username</i>
                                </span>
                            }
                        </sub>




                    </td>
                  
                    



                </tr>
                <tr><td colspan="4" style="font-size:medium;">Category: <i>@q.Category</i></td></tr>
                <tr>
                    <td style="padding-right: 25px;">

                        tags:  @foreach (string tag in q._Tags)
                        {<b><i> #@tag </i></b>}

                    </td>

                    <td style="padding-right: 25px;"> <b>@DAL.GetAllAnswers(q.ID).Count</b> answers</td>
                    <td style="padding-right: 25px;"> Posted <b>@q.Posted</b> </td>
                    <td style="padding-right: 25px;"> <b>(@q.sStatus())</b> </td>

                </tr>

            </table>

        </div>
    </a>

    zIndex--;


}
