@model Deck
@{
    ViewData["Title"] = "Home Page";
}


<form form method="post" action="DisCards">
      
    <table>



        <tr> <td colspan="5" style="text-align:center;"><a href="GetHand">Draw cards</a></td></tr>
       
        <tr>

            @foreach (Card c in DAL.Session_Hand._cards)
            {
                <td style="padding:5px; border: double black;">

                    <img src="@c.image" />
                    <input type="checkbox" name="discarded" id="discarded" value="@c.code" />
                </td>
            }

            <td rowspan="3">
                @foreach(string c in DAL.Session_Discard)
                {
                    <div style="font-weight:bold; font-size:xx-small;"> Discarded @c</div>
                }
            </td>

        </tr>
       

        <tr>
            <td colspan="2" style="text-align:center;" >@Model.deck_id</td>
            <td style="text-align:center;">
                <button type="submit">Discard selected</button>
            </td>
            <td colspan="3" style="text-align:center;" >Cards remaining: @Model.remaining</td>
        </tr>






    </table>

</form>